# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\lucas\OneDrive\Escritorio\FACULTAD\ALGO3\algo3_finales-master\algo3_finales-master\2020-09-17\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
