# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\lucas\OneDrive\Escritorio\FACULTAD\ALGO3\algo3_finales-master\final-7-11-19\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
